# Old executables
myprogram
receiver
sender
intermediary
main
protobufs/protobuf
get_website

# File system executables
fsc/file_carrot
fsc/file_receiver
fsc/file_test1
fsc/file_test2
fsc/file_test3
fsc/file_test4
fsc/awesome.txt

# Networking executables
nsc/curl
nsc/networking_carrot
nsc/networking_receiver

# Miscellany
output.txt
.vscode/
data/